{% extends 'base.html' %}

{%  block content %}
<div class="content-mid">
    <h2>Profile</h2>
    <p class="lead">
        Well hello {{ user }}
    </p>

    <p>
        <h2>Active Lists</h2>
        <br>
        {%  if admin_lists %}
            Lists where you are admin

            <ul>
                {%  for list in admin_lists %}
                    <li>{{ list }}</li>
                {%  endfor %}
            </ul>
        {%  endif %}

        {%  if user_lists %}
            Lists where you are user
            <ul>
                {%  for list in user_lists %}
                    <li>{{ list }}</li>
                {%  endfor %}
            </ul>
        {%  endif %}
    </p>

</div>
{%  endblock content %}